html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
nav {
  font-size: 1.2em;
  border-bottom: 2px solid #dee3e0;
  background-color: #0a38cf;
}
.navbar-nav a {
  color: white;
}
.join{
  margin-left: 50%;
}
#login{
  position: absolute;
  right: 10%;
}
#signup{
  position: absolute;
  right: 2%;
}
